<%= form_for(@battlel) do |f| %>
  <% if @battlel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battlel.errors.count, "error") %> prohibited this battlel from being saved:</h2>

      <ul>
      <% @battlel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet1 %><br>
    <%= f.text_field :pet1 %>
  </div>
  <div class="field">
    <%= f.label :pet2 %><br>
    <%= f.text_field :pet2 %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.time_select :hour %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.text_field :winner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
