<h1>This is home#index</h1>

<p><%= t("body.concept1") %></p>

<li>
  <%= link_to "English" , 
  root_path(:locale => :en), {:style=>'color:grey;'} %>
</li>
<li>
  <%= link_to "Español" , 
  root_path(:locale => :es), {:style=>'color:grey;'} %>
</li>

<%= link_to 'AdminZone', admin_root_path %><br>
<%= link_to 'UserZone', battlels_path %>