<!DOCTYPE html>
<html>
<head>
  <title>UltimatePet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Exit", destroy_user_session_path, method: :delete %>
    <p>User: <%= current_user.email %>, ID: <%= current_user.id %></p>
  <% end %>

  <% unless current_user %>
    <li class="active">
      <a href="/users/sign_in">SignIn</a>
    </li>
    <li class="active">
      <a href="/users/sign_up">SignUp</a>
    </li>
  <% end %>
  <%= yield %>

</body>
</html>
